<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qim.loan.dao.console.ConsoleUserDao" >
	<resultMap id="ResultMap" type="com.qim.loan.entity.console.ConsoleUser">
    	<id column="id" property="id" jdbcType="VARCHAR" />	
    	<result column="console_real_name" property="consoleRealName" jdbcType="VARCHAR" />
    	<result column="console_user_name" property="consoleUserName" jdbcType="VARCHAR" />
    	<result column="console_user_password" property="consoleUserPassword" jdbcType="VARCHAR" />
    	<result column="is_online" property="isOnline" jdbcType="TINYINT" />
    	<result column="create_date" property="createDate" jdbcType="BIGINT" />
    	<result column="create_time" property="createTime" jdbcType="BIGINT" />
	</resultMap>
	
	 	


	
	<!--根据条件获取列表页-->


	<!--根据条件分页查询-->
  	<select id="getListRelative" resultType="map" parameterType="map">
		select 
		<if test="fieldLs == null or fieldLs.size()==0">
			consoleUser.*
		</if>
		<if test="fieldLs != null and fieldLs.size()>0" >   
			<foreach collection="fieldLs" item = "field" separator=",">
				 consoleUser.${field}
			</foreach>			
		</if>
		<if test="fieldLrs != null and fieldLrs.size()>0" >   
			,
			<foreach collection="fieldLrs" item = "field" separator=",">
				 ${field}
			</foreach>			
		</if>
		from console_user consoleUser
		<trim prefix="where" prefixOverrides="and">
			<if test="record.id != null and record.id != ''" >    
				and consoleUser.id like  '%${record.id}%'
			</if>
			<if test="record.consoleRealName != null and record.consoleRealName != ''" >    
				and consoleUser.console_real_name like  '%${record.consoleRealName}%'
			</if>
			<if test="record.consoleUserName != null and record.consoleUserName != ''" >    
				and consoleUser.console_user_name like  '%${record.consoleUserName}%'
			</if>
			<if test="record.consoleUserPassword != null and record.consoleUserPassword != ''" >    
				and consoleUser.console_user_password like  '%${record.consoleUserPassword}%'
			</if>
			<if test="record.isOnline != null" >
				and consoleUser.is_online =  #{record.isOnline,jdbcType=TINYINT}
			</if> 
			<if test="record.createDate != null" >
				and consoleUser.create_date =  #{record.createDate,jdbcType=BIGINT}
			</if> 
			<if test="record.createTime != null" >
				and consoleUser.create_time =  #{record.createTime,jdbcType=BIGINT}
			</if> 
		</trim>
		<if test="groupByLs != null and groupByLs.size()>0" >
			<trim prefix="group by " prefixOverrides=",">
				<foreach collection="groupByLs" item = "groupBy" separator=",">
					 consoleUser.${groupBy}
				</foreach>
			</trim>
		</if>
		<if test="orderByLs != null and orderByLs.size()>0" >
			<trim prefix="order by " prefixOverrides=",">
				<foreach collection="orderByLs" item = "orderBy" separator=",">
					 consoleUser.${orderBy}
				</foreach>
			</trim>
		</if>
		<if test="orderByLs == null or orderByLs.size ==0">
			order by consoleUser.create_date desc,consoleUser.create_time desc
		</if>		
	</select>
	
	<!--根据条件分页查询-->
  	<select id="getListRelativeByParams" resultType="map" parameterType="map">
		select 
		<if test="fieldLs == null or fieldLs.size()==0">
			consoleUser.*
		</if>
		<if test="fieldLs != null and fieldLs.size()>0" >   
			<foreach collection="fieldLs" item = "field" separator=",">
				 consoleUser.${field}
			</foreach>			
		</if>
		<if test="fieldLrs != null and fieldLrs.size()>0" >   
			,
			<foreach collection="fieldLrs" item = "field" separator=",">
				 ${field}
			</foreach>			
		</if>		
		from console_user consoleUser
		<trim prefix="where" prefixOverrides="and">
			<foreach collection="whParams.keys" item = "key">
				<if test="whParams[key]!=null and whParams[key].size()>0">
					<trim prefix="and">
						<foreach collection="whParams[key]" item = "item" open="(" separator=" or " close=")">
							 consoleUser.${key}=#{item}
						</foreach>
					</trim>
				</if>
			</foreach>
		</trim>
		<if test="groupByLs != null and groupByLs.size()>0" >
			<trim prefix="group by " prefixOverrides=",">
				<foreach collection="groupByLs" item = "groupBy" separator=",">
					 consoleUser.${groupBy}
				</foreach>
			</trim>
		</if>		
		<if test="orderByLs != null and orderByLs.size()>0" >
			<trim prefix="order by " prefixOverrides=",">
				<foreach collection="orderByLs" item = "orderBy" separator=",">
					 consoleUser.${orderBy}
				</foreach>
			</trim>
		</if>
		<if test="orderByLs == null or orderByLs.size ==0">
			order by consoleUser.create_date desc,consoleUser.create_time desc
		</if>		
	</select>	
	

		
	<!--根据自己条件查询列表-->
  	<select id="getList" resultType="consoleUser" parameterType="map">
		select 
		<if test="fields == null or fields == ''" >    
			*
		</if>
		<if test="fields != null and fields != ''" >    
			${fields}
		</if>
		from console_user
		<if test="record!=null">
			<trim prefix="where" prefixOverrides="and">
				<if test="record.id != null and record.id != ''" >    
					and id=#{record.id,jdbcType=VARCHAR}
				</if>
				<if test="record.consoleRealName != null and record.consoleRealName != ''" >    
					and console_real_name=#{record.consoleRealName,jdbcType=VARCHAR}
				</if>
				<if test="record.consoleUserName != null and record.consoleUserName != ''" >    
					and console_user_name=#{record.consoleUserName,jdbcType=VARCHAR}
				</if>
				<if test="record.consoleUserPassword != null and record.consoleUserPassword != ''" >    
					and console_user_password=#{record.consoleUserPassword,jdbcType=VARCHAR}
				</if>
				<if test="record.isOnline != null" >
					and is_online =  #{record.isOnline,jdbcType=TINYINT}
				</if>
				<if test="record.createDate != null" >
					and create_date =  #{record.createDate,jdbcType=BIGINT}
				</if>
				<if test="record.createTime != null" >
					and create_time =  #{record.createTime,jdbcType=BIGINT}
				</if>
			</trim>
		</if>
		<if test="groupBys != null and groupBys != ''" >
			group by ${groupBys}
		</if>
		<if test="orderBys != null and orderBys != ''" >
			 order by ${orderBys}
		</if>
		<if test="orderBys == null or orderBys == ''">
			order by create_date desc,create_time desc
		</if>	
	</select>
	
	<!--根据自己条件查询列表-->
  	<select id="getListByParams" resultType="consoleUser" parameterType="map">
		select 
		<if test="fields == null or fields == ''" >    
			*
		</if>
		<if test="fields != null and fields != ''" >    
			${fields}
		</if>
		from console_user
		<if test="whParams != null and whParams.size()>0" >
			<trim prefix="where" prefixOverrides="and">
				<foreach collection="whParams.keys" item = "key">
					<if test="whParams[key]!=null and whParams[key].size()>0">
						<trim prefix="and">
							<foreach collection="whParams[key]" item = "item" open="(" separator=" or " close=")">
								 ${key}=#{item}
							</foreach>
						</trim>
					</if>
				</foreach>	
			</trim>
		</if>
		<if test="groupBys != null and groupBys != ''" >
			group by ${groupBys}
		</if>
		<if test="orderBys != null and orderBys != ''" >
			 order by ${orderBys}
		</if>
		<if test="orderBys == null or orderBys == ''">
			order by create_date desc,create_time desc
		</if>	
	</select>		
	
	<select id="getOneRelativeByParams" resultType="map" parameterType="map">	
		<if test="whParams!=null and whParams.size()>0">
			select 
			<if test="fieldLs == null or fieldLs.size()==0">
				consoleUser.*
			</if>
			<if test="fieldLs != null and fieldLs.size()>0" >   
				<foreach collection="fieldLs" item = "field" separator=",">
					 consoleUser.${field}
				</foreach>
			</if>
			<if test="fieldLrs != null and fieldLrs.size()>0" >   
				,
				<foreach collection="fieldLrs" item = "field" separator=",">
					 ${field}
				</foreach>
			</if>			
			from console_user consoleUser
			<trim prefix="where" prefixOverrides="and">
				<foreach collection="whParams.keys" item = "key">
					<if test="whParams[key]!=null and whParams[key].size()>0">
						<trim prefix="and">
							<foreach collection="whParams[key]" item = "item" separator=" and ">
								 consoleUser.${key}=#{item}
							</foreach>
						</trim>
					</if>
				</foreach>
			</trim>	
		</if>	
	</select>


	<select id="getOneRelative" resultType="map" parameterType="map">	
		<if test="record!=null">
			select 
			<if test="fieldLs == null or fieldLs.size()==0">
				consoleUser.*
			</if>
			<if test="fieldLs != null and fieldLs.size()>0" >   
				<foreach collection="fieldLs" item = "field" separator=",">
					 consoleUser.${field}
				</foreach>
			</if>
			<if test="fieldLrs != null and fieldLrs.size()>0" >   
				,
				<foreach collection="fieldLrs" item = "field" separator=",">
					 ${field}
				</foreach>
			</if>			
			from console_user consoleUser
			<trim prefix="where" prefixOverrides="and">
				<if test="record.id != null and record.id != ''" >    
					and consoleUser.id=#{record.id,jdbcType=VARCHAR}
				</if>
				<if test="record.consoleRealName != null and record.consoleRealName != ''" >    
					and consoleUser.console_real_name=#{record.consoleRealName,jdbcType=VARCHAR}
				</if>
				<if test="record.consoleUserName != null and record.consoleUserName != ''" >    
					and consoleUser.console_user_name=#{record.consoleUserName,jdbcType=VARCHAR}
				</if>
				<if test="record.consoleUserPassword != null and record.consoleUserPassword != ''" >    
					and consoleUser.console_user_password=#{record.consoleUserPassword,jdbcType=VARCHAR}
				</if>
				<if test="record.isOnline != null" >
					and consoleUser.is_online =  #{record.isOnline,jdbcType=TINYINT}
				</if>
				<if test="record.createDate != null" >
					and consoleUser.create_date =  #{record.createDate,jdbcType=BIGINT}
				</if>
				<if test="record.createTime != null" >
					and consoleUser.create_time =  #{record.createTime,jdbcType=BIGINT}
				</if>
			</trim>
		</if>	
	</select>

	
	<select id="getOneRelativeById" resultType="map" parameterType="java.lang.String">	
		<if test="id != null and id != ''" >
			select 
			<if test="fieldLs == null or fieldLs.size()==0">
				consoleUser.*
			</if>
			<if test="fieldLs != null and fieldLs.size()>0" >   
				<foreach collection="fieldLs" item = "field" separator=",">
					 consoleUser.${field}
				</foreach>			
			</if>
			<if test="fieldLrs != null and fieldLrs.size()>0" >   
				,
				<foreach collection="fieldLrs" item = "field" separator=",">
					 ${field}
				</foreach>			
			</if>			
			from console_user consoleUser
			where consoleUser.id =  #{id,jdbcType=VARCHAR}
		</if>	
	</select>
	
	<!--根据主键查询本表结果-->
	<select id="getOneById" resultType="consoleUser" parameterType="map" >
		<if test="id != null and id != ''" > 
			select 
			<if test="fields == null or fields == ''" >    
				*
			</if>
			<if test="fields != null and fields != ''" >    
				${fields}
			</if>
			from console_user where id =  #{id,jdbcType=VARCHAR}
		</if> 
	</select>

	<select id="getOne" resultType="consoleUser" parameterType="map" >
		<if test="record!=null"> 
			select 
			<if test="fields == null or fields == ''" >    
				*
			</if>
			<if test="fields != null and fields != ''" >    
				${fields}
			</if>
			from console_user 
			<trim prefix="where" prefixOverrides="and">
					<if test="record.id != null and record.id != ''" > 
					    and id =#{record.id,jdbcType=VARCHAR}
					</if>
					<if test="record.consoleRealName != null and record.consoleRealName != ''" > 
					    and console_real_name =#{record.consoleRealName,jdbcType=VARCHAR}
					</if>
					<if test="record.consoleUserName != null and record.consoleUserName != ''" > 
					    and console_user_name =#{record.consoleUserName,jdbcType=VARCHAR}
					</if>
					<if test="record.consoleUserPassword != null and record.consoleUserPassword != ''" > 
					    and console_user_password =#{record.consoleUserPassword,jdbcType=VARCHAR}
					</if>
					<if test="record.isOnline != null" >
					    and is_online =#{record.isOnline,jdbcType=TINYINT}
					</if>    
					<if test="record.createDate != null" >
					    and create_date =#{record.createDate,jdbcType=BIGINT}
					</if>    
					<if test="record.createTime != null" >
					    and create_time =#{record.createTime,jdbcType=BIGINT}
					</if>    
			</trim>			
		</if>	
	</select>

	<select id="getOneByParams" resultType="consoleUser" parameterType="map" >
		<if test="whParams!=null and whParams.size()>0"> 
			select 
			<if test="fields == null or fields == ''" >    
				*
			</if>
			<if test="fields != null and fields != ''" >    
				${fields}
			</if>
			from console_user 
			<trim prefix="where" prefixOverrides="and">
				<foreach collection="whParams.keys" item = "key">
					<if test="whParams[key]!=null and whParams[key].size()>0">
						<trim prefix="and">
							<foreach collection="whParams[key]" item = "item" separator=" and ">
								 ${key}=#{item}
							</foreach>
						</trim>
					</if>
				</foreach>
			</trim>			
		</if>	
	</select>
	
	<!--查询记录总数专用语句-->
	<select id="getCount" resultType="java.lang.Integer" parameterType="consoleUser">
		select count(*) from console_user
		<trim prefix="where" prefixOverrides="and">
			<if test="id != null and id != ''" >    
				and id !=  #{ id,jdbcType= VARCHAR}
			</if>
			<if test="consoleRealName != null and consoleRealName != ''" >    
				and console_real_name =  #{ consoleRealName,jdbcType= VARCHAR}
			</if>					    
			<if test="consoleUserName != null and consoleUserName != ''" >    
				and console_user_name =  #{ consoleUserName,jdbcType= VARCHAR}
			</if>					    
			<if test="consoleUserPassword != null and consoleUserPassword != ''" >    
				and console_user_password =  #{ consoleUserPassword,jdbcType= VARCHAR}
			</if>					    
			<if test="isOnline != null" >
				and is_online =  #{isOnline,jdbcType=TINYINT}
			</if>		    
			<if test="createDate != null" >
				and create_date =  #{createDate,jdbcType=BIGINT}
			</if>		    
			<if test="createTime != null" >
				and create_time =  #{createTime,jdbcType=BIGINT}
			</if>		    
		</trim>
	</select>
	
	<!--根据条件查询记录数量(ID不等于)-->
	<select id="getCountByParams" resultType="java.lang.Integer" parameterType="map">
		select count(*) from console_user
		<trim prefix="where" prefixOverrides="and">
			<foreach collection="whParams.keys" item = "key">
				<if test="whParams[key]!=null and whParams[key].size()>0">
					<trim prefix="and">
						<foreach collection="whParams[key]" item = "item" separator=" and ">
							 ${key}=#{item}
						</foreach>
					</trim>
				</if>
			</foreach>
		</trim>
	</select>	

	<!--可选择插入 TODO://需要ID自动及datetime-->
	<insert id="insert" parameterType="consoleUser" >
		insert into console_user
		<trim prefix="(" suffix=")" suffixOverrides="," >
			id,
			<if test="consoleRealName != null and consoleRealName != ''" > 
				console_real_name,
			</if>
			<if test="consoleUserName != null and consoleUserName != ''" > 
				console_user_name,
			</if>
			<if test="consoleUserPassword != null and consoleUserPassword != ''" > 
				console_user_password,
			</if>
			<if test="isOnline != null" >
				is_online,
			</if>    
			create_date,create_time,
    	</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="id != null and id != ''" > 
			    #{id,jdbcType=VARCHAR},
			</if>
			<if test="id == null or id == ''" > 
			    REPLACE(UUID(),'-',''),
			</if>
			<if test="consoleRealName != null and consoleRealName != ''" > 
			    #{consoleRealName,jdbcType=VARCHAR},
			</if>
			<if test="consoleUserName != null and consoleUserName != ''" > 
			    #{consoleUserName,jdbcType=VARCHAR},
			</if>
			<if test="consoleUserPassword != null and consoleUserPassword != ''" > 
			    #{consoleUserPassword,jdbcType=VARCHAR},
			</if>
			<if test="isOnline != null" >
			    #{isOnline,jdbcType=TINYINT},
			</if>    
			DATE_FORMAT(NOW(),'%Y%m%d'),DATE_FORMAT(NOW(),'%H%i%S%f')/1000,		
		</trim>
	</insert>
	
	
	
	<!--批量插入-->
	<insert id="insertBatch" parameterType="java.util.List">
		insert into console_user(id,console_real_name,console_user_name,console_user_password,is_online,create_date,create_time) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(REPLACE(UUID(),'-',''),#{item.consoleRealName},#{item.consoleUserName},#{item.consoleUserPassword},#{item.isOnline},DATE_FORMAT(NOW(),'%Y%m%d'),DATE_FORMAT(NOW(),'%H%i%S%f')/1000)
		</foreach>
	</insert>
	
	<!--根据传入的参数批量插入-->
	<insert id="insertByParams" parameterType="map">
		<if test="vlParamLs!=null and vlParamLs.size()>0">
			insert into console_user(id,
			<if test="fields!=null and fields!=''">
				${fields},
			</if>		
			create_date,create_time) values 
			<foreach collection="vlParamLs" item="item" index="index" separator="," >
 				(REPLACE(UUID(),'-',''), 
 				<foreach collection="item.values" item = "value">
					#{value},
 				</foreach>
 				DATE_FORMAT(NOW(),'%Y%m%d'),DATE_FORMAT(NOW(),'%H%i%S%f')/1000)
			</foreach>
		</if>
	</insert>
		
	
	<!--根据ID更新-->
	<update id="updateById" parameterType="consoleUser" >
		<if test="record!=null and record.id!=null and record.id!=''">
			update console_user
			<set>
				<if test="record.consoleRealName != null and record.consoleRealName != ''" > 
					console_real_name=  #{record.consoleRealName,jdbcType=VARCHAR},
				</if>
				<if test="record.consoleUserName != null and record.consoleUserName != ''" > 
					console_user_name=  #{record.consoleUserName,jdbcType=VARCHAR},
				</if>
				<if test="record.consoleUserPassword != null and record.consoleUserPassword != ''" > 
					console_user_password=  #{record.consoleUserPassword,jdbcType=VARCHAR},
				</if>
				<if test="record.isOnline != null" >
					is_online=  #{record.isOnline,jdbcType=TINYINT},
				</if>    
			</set>
			where id =  #{record.id,jdbcType=VARCHAR}
		</if>  
	</update> 

	<!--根据多个条件多个值更新-->
	<update id="updateByParams" parameterType="map">
		<if test="record!=null">
			update console_user
			<set>
				<if test="record.consoleRealName != null and record.consoleRealName != ''" > 
					console_real_name=  #{record.consoleRealName,jdbcType=VARCHAR},
				</if>
				<if test="record.consoleUserName != null and record.consoleUserName != ''" > 
					console_user_name=  #{record.consoleUserName,jdbcType=VARCHAR},
				</if>
				<if test="record.consoleUserPassword != null and record.consoleUserPassword != ''" > 
					console_user_password=  #{record.consoleUserPassword,jdbcType=VARCHAR},
				</if>
				<if test="record.isOnline != null" >
					is_online=  #{record.isOnline,jdbcType=TINYINT},
				</if>    
			</set>
			<if test="whParamLs!=null and whParamLs.size()>0">
				<trim prefix="where" prefixOverrides="and">
					<foreach collection="whParam.keys" item = "key">
						<if test="whParamLs[key]!=null and whParamLs[key].size()>0">
							<trim prefix="and">
								<foreach collection="whParamLs[key]" item = "item" separator=" and ">
									 ${key}=#{item}
								</foreach>
							</trim>
						</if>
					</foreach>
				</trim>
			</if>
		</if>
	</update> 
	
    <!--删除全部-->
	<delete id="deleteAll">
		delete from console_user
	</delete>
	
	<!--根据条件删除-->
	<delete id="delete" parameterType="consoleUser">
		<if test="record!=null">
			delete from console_user 
			<trim prefix="where" prefixOverrides="and">
				<if test="record.id != null and record.id != ''" >    
					and id =  #{record.id,jdbcType=VARCHAR}
				</if>
				<if test="record.consoleRealName != null and record.consoleRealName != ''" >    
					and console_real_name =  #{record.consoleRealName,jdbcType=VARCHAR}
				</if>
				<if test="record.consoleUserName != null and record.consoleUserName != ''" >    
					and console_user_name =  #{record.consoleUserName,jdbcType=VARCHAR}
				</if>
				<if test="record.consoleUserPassword != null and record.consoleUserPassword != ''" >    
					and console_user_password =  #{record.consoleUserPassword,jdbcType=VARCHAR}
				</if>
			    <if test="record.isOnline != null" >
					and is_online =  #{record.isOnline,jdbcType=TINYINT}
				</if>    
			    <if test="record.createDate != null" >
					and create_date =  #{record.createDate,jdbcType=BIGINT}
				</if>    
			    <if test="record.createTime != null" >
					and create_time =  #{record.createTime,jdbcType=BIGINT}
				</if>    
			</trim>
		</if>	
	</delete>
	
	<!--根据多个字段多个值删除-->
	<delete id="deleteByParams" parameterType="map" >
		<if test="whParams!=null and whParams.size()>0">
			delete from console_user 
			<trim prefix="where" prefixOverrides="and">
				<foreach collection="whParams.keys" item = "key">
					<if test="whParams[key]!=null and whParams[key].size()>0">
						<trim prefix="and">
							<foreach collection="whParams[key]" item = "item" open="(" separator=" or " close=")">
								 ${key}=#{item}
							</foreach>
						</trim>
					</if>
				</foreach>
			</trim>
		</if>
	</delete>
	
	<!--根据主键删除-->
	<delete id="deleteById" parameterType="java.lang.String" >
		<if test="id!= null and id!= ''">
			delete from console_user where id =  #{id,jdbcType=VARCHAR}
		</if>
	</delete>

	<!--根据多个ID批量删除(普通结构)-->
	<delete id = "deleteByIds" parameterType = "map">
		<if test="idLs != null and idLs.size()>0">
			delete from console_user 
			<trim prefix="where" prefixOverrides="and">
				and id in 
				<foreach collection="idLs" item = "id" open="(" separator="," close=")">
					 #{id,jdbcType=VARCHAR}
				</foreach>
			</trim>
		</if>
	</delete>
</mapper>

