<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qim.loan.dao.distribute.DistributeCurrencyRecordDao" >
	<resultMap id="ResultMap" type="com.qim.loan.entity.distribute.DistributeCurrencyRecord">
    	<id column="id" property="id" jdbcType="VARCHAR" />	
    	<result column="distribute_currency_record_name" property="distributeCurrencyRecordName" jdbcType="VARCHAR" />
    	<result column="currency_goldcoin_number" property="currencyGoldcoinNumber" jdbcType="BIGINT" />
    	<result column="create_time" property="createTime" jdbcType="BIGINT" />
    	<result column="create_date" property="createDate" jdbcType="BIGINT" />
    	<result column="distribute_user_id" property="distributeUserId" jdbcType="VARCHAR" />
    	<result column="currency_surplus_goldcoin" property="currencySurplusGoldcoin" jdbcType="BIGINT" />
    	<result column="currency_before_goldcoin" property="currencyBeforeGoldcoin" jdbcType="BIGINT" />
    	<result column="purchase_number" property="purchaseNumber" jdbcType="BIGINT" />
	</resultMap>
	
	 	


	
	<!--根据条件获取列表页-->


	<!--根据条件分页查询-->
  	<select id="getListRelative" resultType="map" parameterType="map">
		select 
		<if test="fieldLs == null or fieldLs.size()==0">
			distributeCurrencyRecord.*
		</if>
		<if test="fieldLs != null and fieldLs.size()>0" >   
			<foreach collection="fieldLs" item = "field" separator=",">
				 distributeCurrencyRecord.${field}
			</foreach>			
		</if>
		<if test="fieldLrs != null and fieldLrs.size()>0" >   
			,
			<foreach collection="fieldLrs" item = "field" separator=",">
				 ${field}
			</foreach>			
		</if>
		,distributeUser.distribute_user_name	
		from distribute_currency_record distributeCurrencyRecord
		left join distribute_user	distributeUser on distributeUser.id=distributeCurrencyRecord.distribute_user_id
		<trim prefix="where" prefixOverrides="and">
			<if test="record.id != null and record.id != ''" >    
				and distributeCurrencyRecord.id like  '%${record.id}%'
			</if>
			<if test="record.distributeCurrencyRecordName != null and record.distributeCurrencyRecordName != ''" >    
				and distributeCurrencyRecord.distribute_currency_record_name like  '%${record.distributeCurrencyRecordName}%'
			</if>
			<if test="record.currencyGoldcoinNumber != null" >
				and distributeCurrencyRecord.currency_goldcoin_number =  #{record.currencyGoldcoinNumber,jdbcType=BIGINT}
			</if> 
			<if test="record.createTime != null" >
				and distributeCurrencyRecord.create_time =  #{record.createTime,jdbcType=BIGINT}
			</if> 
			<if test="record.createDate != null" >
				and distributeCurrencyRecord.create_date =  #{record.createDate,jdbcType=BIGINT}
			</if> 
			<if test="record.distributeUserId != null and record.distributeUserId != ''" >    
				and distributeCurrencyRecord.distribute_user_id like  '%${record.distributeUserId}%'
			</if>
			<if test="record.currencySurplusGoldcoin != null" >
				and distributeCurrencyRecord.currency_surplus_goldcoin =  #{record.currencySurplusGoldcoin,jdbcType=BIGINT}
			</if> 
			<if test="record.currencyBeforeGoldcoin != null" >
				and distributeCurrencyRecord.currency_before_goldcoin =  #{record.currencyBeforeGoldcoin,jdbcType=BIGINT}
			</if> 
			<if test="record.purchaseNumber != null" >
				and distributeCurrencyRecord.purchase_number =  #{record.purchaseNumber,jdbcType=BIGINT}
			</if> 
		</trim>
		<if test="groupByLs != null and groupByLs.size()>0" >
			<trim prefix="group by " prefixOverrides=",">
				<foreach collection="groupByLs" item = "groupBy" separator=",">
					 distributeCurrencyRecord.${groupBy}
				</foreach>
			</trim>
		</if>
		<if test="orderByLs != null and orderByLs.size()>0" >
			<trim prefix="order by " prefixOverrides=",">
				<foreach collection="orderByLs" item = "orderBy" separator=",">
					 distributeCurrencyRecord.${orderBy}
				</foreach>
			</trim>
		</if>
		<if test="orderByLs == null or orderByLs.size ==0">
			order by distributeCurrencyRecord.create_date desc,distributeCurrencyRecord.create_time desc
		</if>		
	</select>
	
	<!--根据条件分页查询-->
  	<select id="getListRelativeByParams" resultType="map" parameterType="map">
		select 
		<if test="fieldLs == null or fieldLs.size()==0">
			distributeCurrencyRecord.*
		</if>
		<if test="fieldLs != null and fieldLs.size()>0" >   
			<foreach collection="fieldLs" item = "field" separator=",">
				 distributeCurrencyRecord.${field}
			</foreach>			
		</if>
		<if test="fieldLrs != null and fieldLrs.size()>0" >   
			,
			<foreach collection="fieldLrs" item = "field" separator=",">
				 ${field}
			</foreach>			
		</if>		
		,distributeUser.distribute_user_name	
		from distribute_currency_record distributeCurrencyRecord
		left join distribute_user	distributeUser on distributeUser.id=distributeCurrencyRecord.distribute_user_id
		<trim prefix="where" prefixOverrides="and">
			<foreach collection="whParams.keys" item = "key">
				<if test="whParams[key]!=null and whParams[key].size()>0">
					<trim prefix="and">
						<foreach collection="whParams[key]" item = "item" open="(" separator=" or " close=")">
							 distributeCurrencyRecord.${key}=#{item}
						</foreach>
					</trim>
				</if>
			</foreach>
		</trim>
		<if test="groupByLs != null and groupByLs.size()>0" >
			<trim prefix="group by " prefixOverrides=",">
				<foreach collection="groupByLs" item = "groupBy" separator=",">
					 distributeCurrencyRecord.${groupBy}
				</foreach>
			</trim>
		</if>		
		<if test="orderByLs != null and orderByLs.size()>0" >
			<trim prefix="order by " prefixOverrides=",">
				<foreach collection="orderByLs" item = "orderBy" separator=",">
					 distributeCurrencyRecord.${orderBy}
				</foreach>
			</trim>
		</if>
		<if test="orderByLs == null or orderByLs.size ==0">
			order by distributeCurrencyRecord.create_date desc,distributeCurrencyRecord.create_time desc
		</if>		
	</select>	
	

		
	<!--根据自己条件查询列表-->
  	<select id="getList" resultType="distributeCurrencyRecord" parameterType="map">
		select 
		<if test="fields == null or fields == ''" >    
			*
		</if>
		<if test="fields != null and fields != ''" >    
			${fields}
		</if>
		from distribute_currency_record
		<if test="record!=null">
			<trim prefix="where" prefixOverrides="and">
				<if test="record.id != null and record.id != ''" >    
					and id=#{record.id,jdbcType=VARCHAR}
				</if>
				<if test="record.distributeCurrencyRecordName != null and record.distributeCurrencyRecordName != ''" >    
					and distribute_currency_record_name=#{record.distributeCurrencyRecordName,jdbcType=VARCHAR}
				</if>
				<if test="record.currencyGoldcoinNumber != null" >
					and currency_goldcoin_number =  #{record.currencyGoldcoinNumber,jdbcType=BIGINT}
				</if>
				<if test="record.createTime != null" >
					and create_time =  #{record.createTime,jdbcType=BIGINT}
				</if>
				<if test="record.createDate != null" >
					and create_date =  #{record.createDate,jdbcType=BIGINT}
				</if>
				<if test="record.distributeUserId != null and record.distributeUserId != ''" >    
					and distribute_user_id=#{record.distributeUserId,jdbcType=VARCHAR}
				</if>
				<if test="record.currencySurplusGoldcoin != null" >
					and currency_surplus_goldcoin =  #{record.currencySurplusGoldcoin,jdbcType=BIGINT}
				</if>
				<if test="record.currencyBeforeGoldcoin != null" >
					and currency_before_goldcoin =  #{record.currencyBeforeGoldcoin,jdbcType=BIGINT}
				</if>
				<if test="record.purchaseNumber != null" >
					and purchase_number =  #{record.purchaseNumber,jdbcType=BIGINT}
				</if>
			</trim>
		</if>
		<if test="groupBys != null and groupBys != ''" >
			group by ${groupBys}
		</if>
		<if test="orderBys != null and orderBys != ''" >
			 order by ${orderBys}
		</if>
		<if test="orderBys == null or orderBys == ''">
			order by create_date desc,create_time desc
		</if>	
	</select>
	
	<!--根据自己条件查询列表-->
  	<select id="getListByParams" resultType="distributeCurrencyRecord" parameterType="map">
		select 
		<if test="fields == null or fields == ''" >    
			*
		</if>
		<if test="fields != null and fields != ''" >    
			${fields}
		</if>
		from distribute_currency_record
		<if test="whParams != null and whParams.size()>0" >
			<trim prefix="where" prefixOverrides="and">
				<foreach collection="whParams.keys" item = "key">
					<if test="whParams[key]!=null and whParams[key].size()>0">
						<trim prefix="and">
							<foreach collection="whParams[key]" item = "item" open="(" separator=" or " close=")">
								 ${key}=#{item}
							</foreach>
						</trim>
					</if>
				</foreach>	
			</trim>
		</if>
		<if test="groupBys != null and groupBys != ''" >
			group by ${groupBys}
		</if>
		<if test="orderBys != null and orderBys != ''" >
			 order by ${orderBys}
		</if>
		<if test="orderBys == null or orderBys == ''">
			order by create_date desc,create_time desc
		</if>	
	</select>		
	
	<select id="getOneRelativeByParams" resultType="map" parameterType="map">	
		<if test="whParams!=null and whParams.size()>0">
			select 
			<if test="fieldLs == null or fieldLs.size()==0">
				distributeCurrencyRecord.*
			</if>
			<if test="fieldLs != null and fieldLs.size()>0" >   
				<foreach collection="fieldLs" item = "field" separator=",">
					 distributeCurrencyRecord.${field}
				</foreach>
			</if>
			<if test="fieldLrs != null and fieldLrs.size()>0" >   
				,
				<foreach collection="fieldLrs" item = "field" separator=",">
					 ${field}
				</foreach>
			</if>			
			,distributeUser.distribute_user_name	
			from distribute_currency_record distributeCurrencyRecord
			left join distribute_user	distributeUser on distributeUser.id=distributeCurrencyRecord.distribute_user_id
			<trim prefix="where" prefixOverrides="and">
				<foreach collection="whParams.keys" item = "key">
					<if test="whParams[key]!=null and whParams[key].size()>0">
						<trim prefix="and">
							<foreach collection="whParams[key]" item = "item" separator=" and ">
								 distributeCurrencyRecord.${key}=#{item}
							</foreach>
						</trim>
					</if>
				</foreach>
			</trim>	
		</if>	
	</select>


	<select id="getOneRelative" resultType="map" parameterType="map">	
		<if test="record!=null">
			select 
			<if test="fieldLs == null or fieldLs.size()==0">
				distributeCurrencyRecord.*
			</if>
			<if test="fieldLs != null and fieldLs.size()>0" >   
				<foreach collection="fieldLs" item = "field" separator=",">
					 distributeCurrencyRecord.${field}
				</foreach>
			</if>
			<if test="fieldLrs != null and fieldLrs.size()>0" >   
				,
				<foreach collection="fieldLrs" item = "field" separator=",">
					 ${field}
				</foreach>
			</if>			
			,distributeUser.distribute_user_name	
			from distribute_currency_record distributeCurrencyRecord
			left join distribute_user	distributeUser on distributeUser.id=distributeCurrencyRecord.distribute_user_id
			<trim prefix="where" prefixOverrides="and">
				<if test="record.id != null and record.id != ''" >    
					and distributeCurrencyRecord.id=#{record.id,jdbcType=VARCHAR}
				</if>
				<if test="record.distributeCurrencyRecordName != null and record.distributeCurrencyRecordName != ''" >    
					and distributeCurrencyRecord.distribute_currency_record_name=#{record.distributeCurrencyRecordName,jdbcType=VARCHAR}
				</if>
				<if test="record.currencyGoldcoinNumber != null" >
					and distributeCurrencyRecord.currency_goldcoin_number =  #{record.currencyGoldcoinNumber,jdbcType=BIGINT}
				</if>
				<if test="record.createTime != null" >
					and distributeCurrencyRecord.create_time =  #{record.createTime,jdbcType=BIGINT}
				</if>
				<if test="record.createDate != null" >
					and distributeCurrencyRecord.create_date =  #{record.createDate,jdbcType=BIGINT}
				</if>
				<if test="record.distributeUserId != null and record.distributeUserId != ''" >    
					and distributeCurrencyRecord.distribute_user_id=#{record.distributeUserId,jdbcType=VARCHAR}
				</if>
				<if test="record.currencySurplusGoldcoin != null" >
					and distributeCurrencyRecord.currency_surplus_goldcoin =  #{record.currencySurplusGoldcoin,jdbcType=BIGINT}
				</if>
				<if test="record.currencyBeforeGoldcoin != null" >
					and distributeCurrencyRecord.currency_before_goldcoin =  #{record.currencyBeforeGoldcoin,jdbcType=BIGINT}
				</if>
				<if test="record.purchaseNumber != null" >
					and distributeCurrencyRecord.purchase_number =  #{record.purchaseNumber,jdbcType=BIGINT}
				</if>
			</trim>
		</if>	
	</select>

	
	<select id="getOneRelativeById" resultType="map" parameterType="java.lang.String">	
		<if test="id != null and id != ''" >
			select 
			<if test="fieldLs == null or fieldLs.size()==0">
				distributeCurrencyRecord.*
			</if>
			<if test="fieldLs != null and fieldLs.size()>0" >   
				<foreach collection="fieldLs" item = "field" separator=",">
					 distributeCurrencyRecord.${field}
				</foreach>			
			</if>
			<if test="fieldLrs != null and fieldLrs.size()>0" >   
				,
				<foreach collection="fieldLrs" item = "field" separator=",">
					 ${field}
				</foreach>			
			</if>			
			,distributeUser.distribute_user_name	
			from distribute_currency_record distributeCurrencyRecord
			left join distribute_user	distributeUser on distributeUser.id=distributeCurrencyRecord.distribute_user_id
			where distributeCurrencyRecord.id =  #{id,jdbcType=VARCHAR}
		</if>	
	</select>
	
	<!--根据主键查询本表结果-->
	<select id="getOneById" resultType="distributeCurrencyRecord" parameterType="map" >
		<if test="id != null and id != ''" > 
			select 
			<if test="fields == null or fields == ''" >    
				*
			</if>
			<if test="fields != null and fields != ''" >    
				${fields}
			</if>
			from distribute_currency_record where id =  #{id,jdbcType=VARCHAR}
		</if> 
	</select>

	<select id="getOne" resultType="distributeCurrencyRecord" parameterType="map" >
		<if test="record!=null"> 
			select 
			<if test="fields == null or fields == ''" >    
				*
			</if>
			<if test="fields != null and fields != ''" >    
				${fields}
			</if>
			from distribute_currency_record 
			<trim prefix="where" prefixOverrides="and">
					<if test="record.id != null and record.id != ''" > 
					    and id =#{record.id,jdbcType=VARCHAR}
					</if>
					<if test="record.distributeCurrencyRecordName != null and record.distributeCurrencyRecordName != ''" > 
					    and distribute_currency_record_name =#{record.distributeCurrencyRecordName,jdbcType=VARCHAR}
					</if>
					<if test="record.currencyGoldcoinNumber != null" >
					    and currency_goldcoin_number =#{record.currencyGoldcoinNumber,jdbcType=BIGINT}
					</if>    
					<if test="record.createTime != null" >
					    and create_time =#{record.createTime,jdbcType=BIGINT}
					</if>    
					<if test="record.createDate != null" >
					    and create_date =#{record.createDate,jdbcType=BIGINT}
					</if>    
					<if test="record.distributeUserId != null and record.distributeUserId != ''" > 
					    and distribute_user_id =#{record.distributeUserId,jdbcType=VARCHAR}
					</if>
					<if test="record.currencySurplusGoldcoin != null" >
					    and currency_surplus_goldcoin =#{record.currencySurplusGoldcoin,jdbcType=BIGINT}
					</if>    
					<if test="record.currencyBeforeGoldcoin != null" >
					    and currency_before_goldcoin =#{record.currencyBeforeGoldcoin,jdbcType=BIGINT}
					</if>    
					<if test="record.purchaseNumber != null" >
					    and purchase_number =#{record.purchaseNumber,jdbcType=BIGINT}
					</if>    
			</trim>			
		</if>	
	</select>

	<select id="getOneByParams" resultType="distributeCurrencyRecord" parameterType="map" >
		<if test="whParams!=null and whParams.size()>0"> 
			select 
			<if test="fields == null or fields == ''" >    
				*
			</if>
			<if test="fields != null and fields != ''" >    
				${fields}
			</if>
			from distribute_currency_record 
			<trim prefix="where" prefixOverrides="and">
				<foreach collection="whParams.keys" item = "key">
					<if test="whParams[key]!=null and whParams[key].size()>0">
						<trim prefix="and">
							<foreach collection="whParams[key]" item = "item" separator=" and ">
								 ${key}=#{item}
							</foreach>
						</trim>
					</if>
				</foreach>
			</trim>			
		</if>	
	</select>
	
	<!--查询记录总数专用语句-->
	<select id="getCount" resultType="java.lang.Integer" parameterType="distributeCurrencyRecord">
		select count(*) from distribute_currency_record
		<trim prefix="where" prefixOverrides="and">
			<if test="id != null and id != ''" >    
				and id !=  #{ id,jdbcType= VARCHAR}
			</if>
			<if test="distributeCurrencyRecordName != null and distributeCurrencyRecordName != ''" >    
				and distribute_currency_record_name =  #{ distributeCurrencyRecordName,jdbcType= VARCHAR}
			</if>					    
			<if test="currencyGoldcoinNumber != null" >
				and currency_goldcoin_number =  #{currencyGoldcoinNumber,jdbcType=BIGINT}
			</if>		    
			<if test="createTime != null" >
				and create_time =  #{createTime,jdbcType=BIGINT}
			</if>		    
			<if test="createDate != null" >
				and create_date =  #{createDate,jdbcType=BIGINT}
			</if>		    
			<if test="distributeUserId != null and distributeUserId != ''" >    
				and distribute_user_id =  #{ distributeUserId,jdbcType= VARCHAR}
			</if>					    
			<if test="currencySurplusGoldcoin != null" >
				and currency_surplus_goldcoin =  #{currencySurplusGoldcoin,jdbcType=BIGINT}
			</if>		    
			<if test="currencyBeforeGoldcoin != null" >
				and currency_before_goldcoin =  #{currencyBeforeGoldcoin,jdbcType=BIGINT}
			</if>		    
			<if test="purchaseNumber != null" >
				and purchase_number =  #{purchaseNumber,jdbcType=BIGINT}
			</if>		    
		</trim>
	</select>
	
	<!--根据条件查询记录数量(ID不等于)-->
	<select id="getCountByParams" resultType="java.lang.Integer" parameterType="map">
		select count(*) from distribute_currency_record
		<trim prefix="where" prefixOverrides="and">
			<foreach collection="whParams.keys" item = "key">
				<if test="whParams[key]!=null and whParams[key].size()>0">
					<trim prefix="and">
						<foreach collection="whParams[key]" item = "item" separator=" and ">
							 ${key}=#{item}
						</foreach>
					</trim>
				</if>
			</foreach>
		</trim>
	</select>	

	<!--可选择插入 TODO://需要ID自动及datetime-->
	<insert id="insert" parameterType="distributeCurrencyRecord" >
		insert into distribute_currency_record
		<trim prefix="(" suffix=")" suffixOverrides="," >
			id,
			<if test="distributeCurrencyRecordName != null and distributeCurrencyRecordName != ''" > 
				distribute_currency_record_name,
			</if>
			<if test="currencyGoldcoinNumber != null" >
				currency_goldcoin_number,
			</if>    
			<if test="distributeUserId != null and distributeUserId != ''" > 
				distribute_user_id,
			</if>
			<if test="currencySurplusGoldcoin != null" >
				currency_surplus_goldcoin,
			</if>    
			<if test="currencyBeforeGoldcoin != null" >
				currency_before_goldcoin,
			</if>    
			<if test="purchaseNumber != null" >
				purchase_number,
			</if>    
			create_date,create_time,
    	</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		    <if test="id != null and id != ''" > 
			    #{id,jdbcType=VARCHAR},
			</if>
			<if test="id == null or id == ''" > 
			    REPLACE(UUID(),'-',''),
			</if>
			<if test="distributeCurrencyRecordName != null and distributeCurrencyRecordName != ''" > 
			    #{distributeCurrencyRecordName,jdbcType=VARCHAR},
			</if>
			<if test="currencyGoldcoinNumber != null" >
			    #{currencyGoldcoinNumber,jdbcType=BIGINT},
			</if>    
			<if test="distributeUserId != null and distributeUserId != ''" > 
			    #{distributeUserId,jdbcType=VARCHAR},
			</if>
			<if test="currencySurplusGoldcoin != null" >
			    #{currencySurplusGoldcoin,jdbcType=BIGINT},
			</if>    
			<if test="currencyBeforeGoldcoin != null" >
			    #{currencyBeforeGoldcoin,jdbcType=BIGINT},
			</if>    
			<if test="purchaseNumber != null" >
			    #{purchaseNumber,jdbcType=BIGINT},
			</if>    
			DATE_FORMAT(NOW(),'%Y%m%d'),DATE_FORMAT(NOW(),'%H%i%S%f')/1000,		
		</trim>
	</insert>
	
	
	
	<!--批量插入-->
	<insert id="insertBatch" parameterType="java.util.List">
		insert into distribute_currency_record(id,distribute_currency_record_name,currency_goldcoin_number,create_time,create_date,distribute_user_id,currency_surplus_goldcoin,currency_before_goldcoin,purchase_number) values 
		<foreach collection="list" item="item" index="index" separator=",">
			(REPLACE(UUID(),'-',''),#{item.distributeCurrencyRecordName},#{item.currencyGoldcoinNumber},DATE_FORMAT(NOW(),'%H%i%S%f')/1000,DATE_FORMAT(NOW(),'%Y%m%d'),#{item.distributeUserId},#{item.currencySurplusGoldcoin},#{item.currencyBeforeGoldcoin},#{item.purchaseNumber})
		</foreach>
	</insert>
	
	<!--根据传入的参数批量插入-->
	<insert id="insertByParams" parameterType="map">
		<if test="vlParamLs!=null and vlParamLs.size()>0">
			insert into distribute_currency_record(id,
			<if test="fields!=null and fields!=''">
				${fields},
			</if>		
			create_date,create_time) values 
			<foreach collection="vlParamLs" item="item" index="index" separator="," >
 				(REPLACE(UUID(),'-',''), 
 				<foreach collection="item.values" item = "value">
					#{value},
 				</foreach>
 				DATE_FORMAT(NOW(),'%Y%m%d'),DATE_FORMAT(NOW(),'%H%i%S%f')/1000)
			</foreach>
		</if>
	</insert>
		
	
	<!--根据ID更新-->
	<update id="updateById" parameterType="distributeCurrencyRecord" >
		<if test="record!=null and record.id!=null and record.id!=''">
			update distribute_currency_record
			<set>
				<if test="record.distributeCurrencyRecordName != null and record.distributeCurrencyRecordName != ''" > 
					distribute_currency_record_name=  #{record.distributeCurrencyRecordName,jdbcType=VARCHAR},
				</if>
				<if test="record.currencyGoldcoinNumber != null" >
					currency_goldcoin_number=  #{record.currencyGoldcoinNumber,jdbcType=BIGINT},
				</if>    
				<if test="record.distributeUserId != null and record.distributeUserId != ''" > 
					distribute_user_id=  #{record.distributeUserId,jdbcType=VARCHAR},
				</if>
				<if test="record.currencySurplusGoldcoin != null" >
					currency_surplus_goldcoin=  #{record.currencySurplusGoldcoin,jdbcType=BIGINT},
				</if>    
				<if test="record.currencyBeforeGoldcoin != null" >
					currency_before_goldcoin=  #{record.currencyBeforeGoldcoin,jdbcType=BIGINT},
				</if>    
				<if test="record.purchaseNumber != null" >
					purchase_number=  #{record.purchaseNumber,jdbcType=BIGINT},
				</if>    
			</set>
			where id =  #{record.id,jdbcType=VARCHAR}
		</if>  
	</update> 

	<!--根据多个条件多个值更新-->
	<update id="updateByParams" parameterType="map">
		<if test="record!=null">
			update distribute_currency_record
			<set>
				<if test="record.distributeCurrencyRecordName != null and record.distributeCurrencyRecordName != ''" > 
					distribute_currency_record_name=  #{record.distributeCurrencyRecordName,jdbcType=VARCHAR},
				</if>
				<if test="record.currencyGoldcoinNumber != null" >
					currency_goldcoin_number=  #{record.currencyGoldcoinNumber,jdbcType=BIGINT},
				</if>    
				<if test="record.distributeUserId != null and record.distributeUserId != ''" > 
					distribute_user_id=  #{record.distributeUserId,jdbcType=VARCHAR},
				</if>
				<if test="record.currencySurplusGoldcoin != null" >
					currency_surplus_goldcoin=  #{record.currencySurplusGoldcoin,jdbcType=BIGINT},
				</if>    
				<if test="record.currencyBeforeGoldcoin != null" >
					currency_before_goldcoin=  #{record.currencyBeforeGoldcoin,jdbcType=BIGINT},
				</if>    
				<if test="record.purchaseNumber != null" >
					purchase_number=  #{record.purchaseNumber,jdbcType=BIGINT},
				</if>    
			</set>
			<if test="whParamLs!=null and whParamLs.size()>0">
				<trim prefix="where" prefixOverrides="and">
					<foreach collection="whParam.keys" item = "key">
						<if test="whParamLs[key]!=null and whParamLs[key].size()>0">
							<trim prefix="and">
								<foreach collection="whParamLs[key]" item = "item" separator=" and ">
									 ${key}=#{item}
								</foreach>
							</trim>
						</if>
					</foreach>
				</trim>
			</if>
		</if>
	</update> 
	
    <!--删除全部-->
	<delete id="deleteAll">
		delete from distribute_currency_record
	</delete>
	
	<!--根据条件删除-->
	<delete id="delete" parameterType="distributeCurrencyRecord">
		<if test="record!=null">
			delete from distribute_currency_record 
			<trim prefix="where" prefixOverrides="and">
				<if test="record.id != null and record.id != ''" >    
					and id =  #{record.id,jdbcType=VARCHAR}
				</if>
				<if test="record.distributeCurrencyRecordName != null and record.distributeCurrencyRecordName != ''" >    
					and distribute_currency_record_name =  #{record.distributeCurrencyRecordName,jdbcType=VARCHAR}
				</if>
			    <if test="record.currencyGoldcoinNumber != null" >
					and currency_goldcoin_number =  #{record.currencyGoldcoinNumber,jdbcType=BIGINT}
				</if>    
			    <if test="record.createTime != null" >
					and create_time =  #{record.createTime,jdbcType=BIGINT}
				</if>    
			    <if test="record.createDate != null" >
					and create_date =  #{record.createDate,jdbcType=BIGINT}
				</if>    
				<if test="record.distributeUserId != null and record.distributeUserId != ''" >    
					and distribute_user_id =  #{record.distributeUserId,jdbcType=VARCHAR}
				</if>
			    <if test="record.currencySurplusGoldcoin != null" >
					and currency_surplus_goldcoin =  #{record.currencySurplusGoldcoin,jdbcType=BIGINT}
				</if>    
			    <if test="record.currencyBeforeGoldcoin != null" >
					and currency_before_goldcoin =  #{record.currencyBeforeGoldcoin,jdbcType=BIGINT}
				</if>    
			    <if test="record.purchaseNumber != null" >
					and purchase_number =  #{record.purchaseNumber,jdbcType=BIGINT}
				</if>    
			</trim>
		</if>	
	</delete>
	
	<!--根据多个字段多个值删除-->
	<delete id="deleteByParams" parameterType="map" >
		<if test="whParams!=null and whParams.size()>0">
			delete from distribute_currency_record 
			<trim prefix="where" prefixOverrides="and">
				<foreach collection="whParams.keys" item = "key">
					<if test="whParams[key]!=null and whParams[key].size()>0">
						<trim prefix="and">
							<foreach collection="whParams[key]" item = "item" open="(" separator=" or " close=")">
								 ${key}=#{item}
							</foreach>
						</trim>
					</if>
				</foreach>
			</trim>
		</if>
	</delete>
	
	<!--根据主键删除-->
	<delete id="deleteById" parameterType="java.lang.String" >
		<if test="id!= null and id!= ''">
			delete from distribute_currency_record where id =  #{id,jdbcType=VARCHAR}
		</if>
	</delete>

	<!--根据多个ID批量删除(普通结构)-->
	<delete id = "deleteByIds" parameterType = "map">
		<if test="idLs != null and idLs.size()>0">
			delete from distribute_currency_record 
			<trim prefix="where" prefixOverrides="and">
				and id in 
				<foreach collection="idLs" item = "id" open="(" separator="," close=")">
					 #{id,jdbcType=VARCHAR}
				</foreach>
			</trim>
		</if>
	</delete>
</mapper>

