<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qim.loan.dao.distribute.DistributeRechargeRecordDao" >
  	<resultMap id="IndividualResultMap" type="com.qim.loan.entity.distribute.DistributeRechargeRecord">
    	<result column="id" property="id" jdbcType="VARCHAR" />
    	<result column="purchase_goldcoin_number" property="purchaseGoldcoinNumber" jdbcType="BIGINT" />
    	<result column="create_date" property="createDate" jdbcType="BIGINT" />
    	<result column="create_time" property="createTime" jdbcType="BIGINT" />
    	<result column="distribute_user_id" property="distributeUserId" jdbcType="BIGINT" />
    	<result column="recharge_goldcoin_before_number" property="rechargeGoldcoinBeforeNumber" jdbcType="BIGINT" />
    	<result column="recharge_goldcoin_after_number" property="rechargeGoldcoinAfterNumber" jdbcType="BIGINT" />
    	<result column="recharge_goldcoin_number" property="rechargeGoldcoinNumber" jdbcType="BIGINT" />
  	</resultMap>
	<!--请在以下空白处编写新的SQL(仅限Java开发人员使用)-->
 	
</mapper>
