<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qim.loan.dao.distribute.DistributeUserLoginRecordDao" >
  	<resultMap id="IndividualResultMap" type="com.qim.loan.entity.distribute.DistributeUserLoginRecord">
    	<id column="id" property="id" jdbcType="VARCHAR" />	
    	<result column="create_date" property="createDate" jdbcType="BIGINT" />
    	<result column="create_time" property="createTime" jdbcType="BIGINT" />
    	<result column="distribute_user_id" property="distributeUserId" jdbcType="VARCHAR" />
    	<result column="ip_address" property="ipAddress" jdbcType="VARCHAR" />
    	<result column="browser_version" property="browseVersion" jdbcType="VARCHAR" />
    	<result column="os_version" property="osVersion" jdbcType="VARCHAR" />
  	</resultMap>
	<!--请在以下空白处编写新的SQL(仅限Java开发人员使用)-->
 	
</mapper>
