<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qim.loan.dao.console.ConsoleUserDao" >
  	<resultMap id="IndividualResultMap" type="com.qim.loan.entity.console.ConsoleUser">
    	<id column="id" property="id" jdbcType="VARCHAR" />	
    	<result column="console_real_name" property="consoleRealName" jdbcType="VARCHAR" />
    	<result column="console_user_name" property="consoleUserName" jdbcType="VARCHAR" />
    	<result column="console_user_password" property="consoleUserPassword" jdbcType="VARCHAR" />
    	<result column="is_online" property="isOnline" jdbcType="TINYINT" />
    	<result column="create_date" property="createDate" jdbcType="BIGINT" />
    	<result column="create_time" property="createTime" jdbcType="BIGINT" />
  	</resultMap>
	<!--请在以下空白处编写新的SQL(仅限Java开发人员使用)-->
 	
</mapper>
